@use "../variables" as *;
@use "../utils/mixins" as *;
@use "sass:map";

//
// _badges.scss
//

@each $state in map.keys($theme-colors) {
    .badge-soft-#{$state} {
        color: var(--#{$state});
        background-color: var(--#{$state}-transparent);
        &[href] {
            color: var(--#{$state});
            text-decoration: none;
            background-color: var(--#{$state}-transparent);
            &:is(:hover, :focus) {
                color: var(--#{$state});
                text-decoration: none;
                background-color: var(--#{$state}-transparent);
            }
        }
    }
}
.badge-soft-purple {
    background-color: $purple-transparent;
    color: $purple;
}
.badge-pink {
    background-color: $pink !important;
    color: $white !important;
}
.badge-soft-pink {
    background-color: $pink-transparent;
    color: $pink;
}
.badge-soft-teal {
    background-color: $teal-transparent;
    color: $teal;
}
.badge-soft-orange {
    background-color: $orange-transparent;
    color: $orange;
}
.badge-soft-light {
    color: $gray-900 !important;
}
// Outline badge
@each $state in map.keys($theme-colors) {
    .badge-outline-#{$state} {
        color: var(--#{$state});
        border: 1px solid var(--#{$state});
        background-color: transparent;

        &[href] {
            color: var(--#{$state});
            text-decoration: none;
            background-color: var(--#{$state}-transparent);

            &:is(:hover, :focus) {
                color: var(--#{$state});
                text-decoration: none;
                background-color: var(--#{$state}-transparent);
            }
        }
    }
}
.badge {
    vertical-align: middle;
    font-size: 12px;
    font-weight: $font-weight-medium;
    padding: 3px 8px;
    line-height: 1.5;
    border-radius: $border-radius;
}
.badge-sm {
    font-size: 10px;
    padding: 2px 6px;
}
.badge-lg {
    font-size: 14px;
    padding: 4px 10px;
}