@use "../variables" as *;
@use "../utils/mixins" as *;

//
// modal.scss
//

.modal-content {
    color: inherit;
    border-radius: $border-radius;
    background-color: var(--white);
    border-color: $border-color;
}
.modal-title {
    color: var(--heading-color);
}
.modal-full-width {
    width: 95%;
    max-width: none;
}
.modal-top {
    margin: 0 auto;
}
.modal {
    &.show {
        .modal-right,
        .modal-left {
            transform: translate(0, 0) !important;
        }
    }
}
.modal-bottom {
    display: flex;
    flex-flow: column nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    margin: 0 auto;
    align-content: center;
}
.modal-filled {
    color: $white;
    .modal-header {
        background-color: rgba($white-rgb, 0.1);
    }
    .modal-title {
        color: $white;
    }
    .modal-header,
    .modal-footer {
        border: none;
    }
}
.modal-backdrop {
    backdrop-filter: blur(10px);
}
.modal-header {
    padding: 16px 20px;
    background-color: transparent;
    border-color: var(--border-color);
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    justify-content: space-between;
    .btn-close {
        background: transparent;
        font-size: 20px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s;
        &.btn-close-modal {
            background: $white;
            font-size: 20px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.7s;
            &:hover {
                color: $danger;
            }
        }
    }
}
.modal-body {
    padding: 16px 20px;
    background-color: transparent;
}
.modal-footer>* {
    margin-top: 0;
    margin-bottom: 0;
}
.modal-footer {
    padding: 16px 20px;
    background-color: transparent;
    border-color: var(--border-color);
}
.btn-close:focus {
    box-shadow: none;
}
.offcanvas-header, .offcanvas-body, .offcanvas-footer {
    padding: 16px 20px;
}
.offcanvas-footer {
    border-top: 1px solid $border-color;
    display: flex;
    justify-content:end;
    gap: 8px;
}
// Offcanvas
.offcanvas {
    min-width: 500px !important;
    background-color: var(--white);
    color: var(--body-color);
    border-left: 1px solid $border-color !important;
    @include respond-below(md) {
        min-width: auto !important;
    }
    .btn-close {
        background: transparent;
        font-size: 20px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s;
        &:hover {
            color: $danger;
        }
    }
}
