@use "../variables" as *;
@use "../utils/mixins" as *;

//
// reboot.scss
//

html {
    position: relative;
    min-height: 100%;
    // direction: ltr;
}
html.no-theme-transition *,
html.no-theme-transition {
  transition: none !important;
}
[data-bs-theme] .navbar-header,
[data-bs-theme] .sidebar {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body {
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 1.5;
    color: $body-color;
    background-color: $light;
    overflow-x: hidden;
}

::selection {
    background: $primary;
    color: $white;
}

button,
a {
    outline: none !important;
}
a {
    text-decoration: none;
    color: $gray-900;
    &:hover {
        color: $primary;
    }
}
// Forms

label {
    font-weight: $font-weight-medium;
}

b,
strong {
    font-weight: $font-weight-semibold;
}

h1,
.h1 {
    font-size: 32px;
    font-weight: $font-weight-bold;
    color: $heading-color;
    @include respond-below(lg) {
        font-size: 28px;
    }
    @include respond-below(md) {
        font-size: 24px;
    }
}
h2,
.h2 {
    font-size: 28px;
    font-weight: $font-weight-bold;
    color: $heading-color;
    @include respond-below(lg) {
        font-size: 24px;
    }
    @include respond-below(md) {
        font-size: 22px;
    }
}
h3,
.h3 {
    font-size: 24px;
    font-weight: $font-weight-bold;
    color: $heading-color;
    @include respond-below(lg) {
        font-size: 22px;
    }
    @include respond-below(md) {
        font-size: 20px;
    }
}
h4,
.h4 {
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: $heading-color;
    @include respond-below(md) {
        font-size: 18px;
    }
}
h5,
.h5 {
    font-size: 18px;
    font-weight: $font-weight-bold;
    color: $heading-color;
    @include respond-below(md) {
        font-size: 16px;
    }
}
h6,
.h6 {
    font-size: 16px;
    font-weight: $font-weight-bold;
    color: $heading-color;
    @include respond-below(md) {
        font-size: 15px;
    }
}
.display-1 {
    font-size: 80px;
    @include respond-below(lg) {
        font-size: 60px;
    }
    @include respond-below(md) {
        font-size: 36px;
    }
}
.display-2 {
    font-size: 72px;
    @include respond-below(lg) {
        font-size: 58px;
    }
    @include respond-below(md) {
        font-size: 40px;
    }
}
.display-3 {
    font-size: 64px;
    @include respond-below(lg) {
        font-size: 50px;
    }
    @include respond-below(md) {
        font-size: 36px;
    }
}
.display-4 {
    font-size: 56px;
    @include respond-below(lg) {
        font-size: 42px;
    }
    @include respond-below(md) {
        font-size: 30px;
    }
}
.display-5 {
    font-size: 48px;
    @include respond-below(lg) {
        font-size: 36px;
    }
    @include respond-below(md) {
        font-size: 26px;
    }
}
.display-6 {
    font-size: 40px;
    @include respond-below(lg) {
        font-size: 30px;
    }
    @include respond-below(md) {
        font-size: 20px;
    }
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

// Page Head
@include respond-above(md) {
    .page-title-head {
        height: 85px;
    }
}

@include respond-below(md) {
    .page-title-head {
        padding: 1.25rem 0;
    }
}

// Custom Link
.link-reset {
    color: inherit;
    transition: all 0.25s ease-in-out;

    &:hover {
        color: $primary;
    }
}
html[data-bs-theme="dark"] {
  background-color: #0C0C20; /* dark mode bg */
}

html[data-bs-theme="dark"],
body[data-bs-theme="dark"] {
  background: #0C0C20; /* your dark bg */
  color-scheme: dark;
}

html[data-bs-theme="light"],
body[data-bs-theme="light"] {
  background: #f9f9fa;
  color-scheme: light;
}