@use "../variables" as *;
@use "../utils/mixins" as *;

//
// settings.scss
//



.settings-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: $white;
    margin-top: 0;
    z-index: 90;
    transition: all 0.25s ease-in-out;
    margin-right: 24px;
    width: 200px;
    flex-shrink: 0;
    .sidebar-logo {
        position: fixed;
        line-height: $topbar-height;
        width: $sidenav-width;
        padding: 0 16px;
        border-bottom: 1px solid $border-color;
        .logo {
            display: block;
        }
        .logo-small, .dark-logo {
            display: none;
        }
        #toggle_btn {
            @include respond-above(lg) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
            }
        }
    }
    [data-simplebar] {
        top: $topbar-height;
        height: calc(100% - $topbar-height);
        @include respond-below(sm) {
            width: 100% !important;
        }
        @include respond-below(lg) {
            height: 100%;
        }
        .sidebar-menu {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }
    .sidebar-inner {
        width: 100%;
    }
    .sidebar-menu {
        padding: 16px;
        ul {
            margin: 0;
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        > ul {
            > li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                    ul {
                        margin-bottom: 0;
                    }
                }
                &:first-child {
                    &.menu-title {
                        margin-top: 0;
                    }
                }
                > ul {
                    > li {
                        > a {
                            border-left: 2px solid transparent;
                            .count {
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                background: $danger;
                                font-size: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $white;
                                flex-shrink: 0;
                                margin-left: auto;
                            }
                            &:hover {
                                span {
                                    color: $primary;
                                }
                                color: $primary;
                            }
                        }
                    }
                }
                &.active{
                    a{
                        color: $white;
                    }
                }
                > a{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    padding: 10px 15px ;
                    position: relative;
                    color: $gray-900;
                    border-bottom: none;
                    &.active{
                        background: $light;
                        border-radius: 5px;
                        border-left: 2px solid $secondary;
                    }
                    span{
                        font-size: 15px;
                        font-weight: $font-weight-medium;
                        color: $gray-600;
                    }
                }
                &.submenu {
                    ul {
                        display: none;
                       li {
                            a{
                               font-weight: $font-weight-medium;
                               font-size: $font-size-base;
                               position: relative;
                               display: block;
                               padding:8px 8px 8px 40px ;
                               padding-left: 30px;
                           }
                       }
                    }
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    li {
                        overflow: hidden;
                        margin-top: 2px;
                        a {
                            display: -webkit-box;
                            border-radius: 5px;
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            font-size: 14px;
                            color: $gray-800;
                            position: relative;
                            width: 100%;
                            padding: 0.5rem 0.75rem;
                            i {
                                font-size: 1rem;
                            }
                            span {
                                font-size: 1rem;
                                white-space: nowrap;
                                color: $gray-800;
                                margin-left: 8px;
                            }
                            &.active{
                                color: $primary;
                                span {
                                    color: $primary;
                                }
                                .menu-arrow {
                                    &::before {
                                        border-color: $primary;
                                    }
                                }
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    & > li {
                        &.active a{
                            background: $menu-active-bg;
                            border-radius: 5px;
                            color: $primary;
                            font-weight: $font-weight-medium;
                            border-left: 2px solid $primary;
                            span {
                                color: $menu-active-color;
                            }
                            .menu-arrow {
                                &::before {
                                    border-right: 2px solid $menu-active-color;
                                    border-bottom: 2px solid $menu-active-color;
                                }
                            }
                            &.subdrop {
                                background: $primary-transparent;
                                border-radius: 5px;
                                color: $primary;
                                i {
                                    color:$white;
                                    background:$white;
                                }
                                span {
                                    color: $primary;

                                }
                            }
                        }
                    }
                }
                .submenu {
                    ul {
                        display: none;
                        border: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                        position: relative;
                        li {
                            margin: 0;
                        }
                    }
                }
            }
            li {
                &.menu-title {
                    color: $gray-800;
                    font-weight: $font-weight-bold;
                    letter-spacing: 0.1em;
                    font-size: 11px;
                    margin: 8px 0;
                    text-transform: uppercase;
                    position: relative;
                    display: flex;
                    align-items: center;
                    border: 0;
                    span {
                        flex-shrink: 0;
                    }
                }
                .submenu > {
                    ul {
                        margin: 4px 0 0;
                        position: relative;
                        li {

                            a {
                                padding: 8px 16px 8px 36px;
                                font-size: 14px;
                                position: relative;
                                color: $gray-800;
                                &.active {
                                    color: $primary;
                                    font-weight: $font-weight-medium;
                                    &::before {
                                        opacity: 1;
                                    }
                                }
                                &:hover {
                                    background-color: rgba($secondary-rgb, 0.1);
                                    color: $secondary;
                                    .menu-arrow {
                                        &::before {
                                            border-color: $secondary;
                                        }
                                    }
                                }
                                &::before {
                                    content: "\f671";
                                    font-family: "tabler-icons";
                                    font-size: 1.25rem;
                                    opacity: 0.5;
                                    position: absolute;
                                    top: 50%;
                                    left: 8px;
                                    transform: translateY(-50%) scale(0.25);
                                    transition: all .25s ease-in-out;
                                }
                            }
                        }
                    }

                    a {
                        &.subdrop {
                            background: rgba($secondary-rgb, 0.1);
                            border-radius: 5px;
                        }
                        &.active {
                            background: $primary-transparent;
                            border-radius: 5px;
                            border-left: 2px solid $primary;
                            font-weight: $font-weight-medium;
                        }
                    }
                }
                .submenu.submenu-two {
                    a {
                        &.subdrop {
                            background: transparent;
                            color: $secondary;
                            border: 0;
                            .menu-arrow {
                                &::before {
                                    border-color: $secondary;
                                }
                            }
                        }
                        &.active {
                            background: transparent;
                            color: $primary;
                            border: 0;
                            .menu-arrow {
                                &::before {
                                    border-color: $primary;
                                }
                            }
                        }
                    }
                    ul {
                        margin-top: 0;
                        li {
                            margin-left: 20px;
                        }
                    }
                }
                .submenu.submenu-two.submenu-three {
                    ul {
                        li {
                            margin-left: 20px;
                        }
                    }
                }
            }

        }
        .menu-arrow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            text-rendering: auto;
            font-size: 18px;
            line-height: 16px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translatey(-50%);
            transition: all 0.2s ease;
            &::before {
                height: 6px;
                width: 6px;
                border-top: 0;
                content: "";
                border-left: 0;
                border-right: 1.4px solid $gray-800;
                border-bottom: 1.4px solid $gray-800;
                transform: rotate(45deg);
                position: absolute;
                left: 5px;
                top: 4px;
            }
            &.inside-submenu {
                right: 10px;
            }
        }
        &.subdrop {
            .menu-arrow {
                transform: translateY(-50%) rotate(90deg);
                background: #FFEDDC;
            }
        }
    }
    li {
        a.subdrop {
            .menu-arrow {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

.payment_custom_check {
    width: 100%;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .payment_checkmark {
        border: 1px solid $border-color;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 8px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        transition: 0.5s all;
        cursor: pointer;
        .checked-title {
            color: $gray-100;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            flex-direction: column;
            transition: 0.5s all;
            width: 70px;
            border: 1px solid $border-color;
            border-radius: 10px;
            margin-right: 8px;
            flex-shrink: 0;
            @include respond-below(xl) {
             width: 55px;
             padding: 5px;
             height: 40px;
            }
        }
    }
    input:checked ~ .payment_checkmark {
        border-color: $primary;
        background: $white;
        transition: 0.5s all;
    }
}

.theme-image {
    p {
        color: $gray-500;
    }
    &.active {
        border-color: $primary;
        p {
            color: $primary;
        }
    }
}

.setting-custom-bg {
    background-color: $light-transparent;
    border: none;
    .card-body {
        @include respond-below(sm) {
            padding: 10px;
        }
    }
}
#other-reason-box {
    display: none;
}
.verify-item {
    transition: 0.7s;
    border: 1px solid $border-color;
    &:hover {
        background-color: $light;
        border-color: $primary;
        .ti-check {
            opacity: 1;
        }
    }
    .ti-check {
        font-size: 14px;
        opacity: 0;
        transition: 0.7s;
        color: $primary;
        top: 25px;
        right: 10px;
    }
}
.custom-input-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    input {
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 20px;
        border-radius: 6px;
        border: 1px solid $border-color;
        &:focus {
            outline: none;
            border-color: $primary;
        }
        @include respond-below(sm) {
            width: 20px;
            height: 20px;
            font-size: 16px;
        }
    }
}

// Settings sidebar
.settings-wrapper {
    @include respond-below(lg) {
        display: block !important;
    }
}
.settings-collapse-bar {
    display: none !important;
    @include respond-below(lg) {
        display: block !important;
    }
}
.settings-sidebar {
    @include respond-below(lg) {
        position: absolute;
        top: 0%;
        left: 0;
        z-index: 1;
        box-shadow: $box-shadow;
        border-radius: 5px;
        width: 230px;
        transition: max-height 0.8s cubic-bezier(0.25, 1, 0.5, 1);
        transition: all 0.3s;
        max-height: 0;
        overflow: hidden;
        padding: 12px;
        opacity: 0;
    }
    &.active {
        transition: all 0.3s;
        top: 2px;
        left: 0;
        display: block !important;
        max-height: 545px;
        opacity: 1;
    }
}
.settings-sidebar-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color;
    @include respond-below(lg) {
        display: flex;
    }
}
.settings-sidebar-close {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background: $primary;
    color: $white;
    font-size: 12px;
    transition: all 0.3s;
    &:hover {
        background-color: $primary-hover;
    }

}
.list-group-item {
    padding: 9px 16px;
}

.details-item {
    .list-group-item {
        
        .text-truncate {
            display: block;
            @include respond-below(xxl) {
                width: 100px;
            }
        }
    }
}