@use "../variables" as *;
@use "../utils/mixins" as *;

//
// timeline.scss
//

.screenshot-item{
    .card-body{
        padding: 12px;
    }
    .card-img{
        position: relative;
        overflow: hidden;
        &:hover{
            background-color: $primary;
            img{
                transform: scale(1.1);
                opacity: .7;
            }
        }
        img{
            transition: .3s;
            width: 100%;
        }
    }
    .download-delete-icon{
        position: absolute;
        right: 12px;
        top: 12px !important;
        .download-icon, .delete-icon{
            width: 22px;
            height: 22px;
            background-color: $white;
            box-shadow: 0px 4px 14px 0px #BABABA40;
        }
        .download-icon{
            color: $secondary;
            &:hover{
                background-color: $secondary;
                color: $white;
            }
        }
        .delete-icon{
            color: $danger;
            &:hover{
                background-color: $danger;
                color: $white;
            }
        }
    }
}
.active-time {
    min-width: 140px;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    @include respond-below(sm) {
        min-width: 90px;
    }
}
.timeline-hrline {
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        width: 1px;
        height: 100%;
        border-left: 1px solid $border-color;
        position: absolute;
        left: -33px;
        top: 5px;
        z-index: -1;
        @include respond-below(sm) {
            display: none;
        }
    }
}
.schedule-timeline {
    > div {
        &:last-child {
            .timeline-hrline {
                &::before {
                    display: none;
                }
            }
        }
    }
}
.timeline-border {
    width: 24px;
    height: 24px;
    border: 1px solid $border-color;
    border-radius: 12px;
    margin-left: 15px;
    @include respond-below(sm) {
        display: none !important;
    }
}
.pricing-badge {
    position: absolute;
    top: 40px;
    right: -45px;
    transform: rotate(45deg);
}
.notification-wrap {
    .hover-btn {
        opacity: 0;
        transition: 0.5s all;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $danger-transparent;
        color: $danger;
        &:hover {
            background: $danger;
            color: $white;
        }
        @include respond-below(md) {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    .card {
        transition: all 0.7s;
        &:hover {
            .hover-btn {
                opacity: 1;
                transition: 0.5s all;
            }
            box-shadow: $box-shadow-md;
            transform: translateY(-10px);
        }
    }
}

.custom-badge {
    position: absolute;
    top: -10px;
    margin: auto;
    right: 0;
    left: 0;
    width: 100px;
}

// flat-picker-date
.custom-date{
    width: 128px;
    .flatpickr-input{
        padding: 6px 12px 6px 6px;
        border-radius: 5px;
    }
    .input-group-text {
        border-radius: 5px;
        i {
            color: $gray-900;
        }
    }
}
.daterangepick {
    padding: 6px 12px;
    i {
        margin-right: 6px;
    }
}

.manual-time-card {
    .card-body {
        @include respond-below(xxl) {
            padding: 14px;
        }
    }
}
.value-item {
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav-bordered-primary {
    .nav-link {
        &.active {
            background: transparent         ;

        }
    }
}

.invoice-avatar {
    position: relative;
    margin-right: 8px;
    img {
        width: 40px;
        height: 40px;
    }
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20%;
    }
}
