//
// rtl.scss
//

@use "../variables" as *;
@use "../utils/mixins" as *;

[dir=rtl] {
    .dropdown-item, .dropdown-menu {
        text-align: right;
    }
    .input-group-flat {
        .form-control {
            &:not(:last-child) {
                border-left: 0;
                border-right: 1px solid;
            }
            &:not(:first-child) {
                border-right: 0;
                border-left: 1px solid;
            }
        }
        .input-group-text {
            &:first-child {
              padding-left: 0;
              padding-right: 0.5rem;
            }
            &:last-child {
              padding-right: 0;
              padding-left: 0.5rem;
            }
        }
    }
    .simplebar-track {
        left: 0;
        right: auto;
    }
    .sidebar-close {
        left: 10px;
        right: auto;
    }
    .dataTables_length {
        float: right;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        float: right;
        padding-right: 0;
        padding-left: 4px;
    }
    .breadcrumb-item + .breadcrumb-item {
        padding-left: 0;
        padding-right: 4px;
    }
    .slide-nav .sidebar {
        margin-right: 0;
    }
    .header {
        #toggle_btn{
            left: auto;
            right: -12px;
        }
        .dropdown-menu {
            @include respond-above(lg) {
                left: 0 !important;
                right: unset !important;
            }
        }
    }
    .sidebar {
        right: 0;
        border-right: 0;
        border-left: 1px solid $border-color;
        @include respond-below(lg) {
            right: 0;
        }
        .sidebar-menu {
            ul {
                padding-right: 0;
            }
            > ul {
                > li {
                    ul > li.active a {
                        border-left: 0;
                        border-right: 2px solid $primary;
                    }
                    .submenu {
                        ul {
                            &::before {
                                right: 14px;
                                left: unset;
                            }
                        }
                        > ul {
                            li {
                                a {
                                    padding: 8px 36px 8px 16px;
                                    &::before {
                                        right: 13px;
                                        left: unset;
                                    }
                                }
                            }
                        }
                    }
                }
                li {
                    .submenu {
                        &.submenu-two {
                            ul {
                                li {
                                    margin: 0 20px 0 0;
                                }
                            }
                        }
                    }
                }
                ul li a span  {
                    margin-right: 8px;
                    margin-left: 0;
                }
            }
            .menu-arrow {
                left: 10px;
                right: unset;
            }
            > ul > li .submenu-hdr::after {
                margin-right: 8px;
                margin-left: 0;
            }
        }
        @include respond-below(lg) {
            margin-right: -575px;
        }
    }
    .page-wrapper {
        margin-right: $sidenav-width;
        margin-left: 0;
        @include respond-below(lg) {
            margin-right: 0;
        }
    }
    .navbar-header {
        @include respond-above(lg) {
            margin-right: $sidenav-width;
            margin-left: 0;
        }
        .input-group {
            input {
                border-right: 1px solid $border-color !important;
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-top-right-radius: 5px !important;
                border-bottom-right-radius: 5px !important;
                border-left: 0 !important;
            }
            .input-group-text {
                border-right: 0;
                border-radius: 5px !important;
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-left: 1px solid $gray-200;
            }
        }
        .mobile_btn {
            @include respond-below(lg) {
                right: 0;
                left: unset;
            }
        }
        .mobile-user-menu {
            left: 0;
            right: auto;
            text-align: left;
        }
    }
    .mini-sidebar {
        &.expand-menu {
            .header {
                right: 252px;
                left: 0;
            }
        }
    }
    .dropdown-toggle::after {
        margin-left: 0;
        margin-right: 0.255em;
    }
    .form-select {
        padding: 0.5rem 0.77rem 0.5rem 2.31rem;
        background-position: left 0.77rem center;
    }
    .form-floating > label {
        right: 0;
        left: auto;
    }
    .was-validated .form-control:invalid, .form-control.is-invalid {
        background-position: left calc(0.375em + 0.25rem) center;
        padding-left: calc(1.5em + 1rem);
        padding-right: 0.77rem;
    }
    .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
        transform: scale(0.9) translateY(-0.8rem) translateX(0.9rem);
        text-align: end;
    }
    @include respond-above(lg) {
        .mini-sidebar {
            .page-wrapper {
                margin-right: $sidenav-width-sm;
                margin-left: 0;
            }
            .navbar-header {
                margin-right: $sidenav-width-sm;
                margin-left: 0;
            }
            &.expand-menu {
                .navbar-header {
                    margin-right: $sidenav-width;
                    margin-left: 0;
                }
                .page-wrapper {
                    margin-right: $sidenav-width;
                    margin-left: 0;
                }
            }
        }
    }
}