/*============================
    1. Variables
============================*/

:root {
    --sidenav-width: 240px;
    --sidenav-width-sm: 70px;
    --topbar-height: 56px;
    --topbar-bg: #fff;
    --topbar-item-color: var(--gray-700);
    --topbar-item-hover-color: var(--primary);
    --topbar-item-hover-bg: var(--gray-100);
    --menu-bg: #fff;
    --menu-item-color: var(--gray-900);
    --menu-item-title: var(--gray-800);
    --menu-item-hover-color: var(--primary);
    --menu-item-hover-bg: rgba(var(--primary-rgb), 0.1);
    --menu-item-active-color: var(--primary);
    --menu-item-active-bg: rgba(var(--primary-rgb), 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: var(--primary);
    --menu-active-bg: rgba(var(--primary-rgb), 0.1);
    --menu-icon-color: var(--gray-700);
    --menu-border: var(--border-color);
    --primary: #3550dc;
    --secondary: #6d777f;
    --light: #f9f9fa;
    --dark: #0c1c29;
    --white: #FFFFFF;
    --success: #01b664;
    --info: #0080ff;
    --danger: #ff0000;
    --indigo: #8000FF;
    --orange: #fe9738;
    --pink: #f301ca;
    --purple: #ab47bc;
    --teal: #24cdba;
    --warning: #f9b801;
    --black: #000;
    --gray-100: #f4f6f7;
    --gray-200: #e6eaec;
    --gray-300: #dadfe2;
    --gray-400: #ced2d4;
    --gray-500: #b2b8bb;
    --gray-600: #949ba0;
    --gray-700: #6D777F;
    --gray-800: #40484f;
    --gray-900: #0C1C29;
    --gray-950: #010508;
    --gray-hover: #9AA8D1;
    --light-100: #FEFEFE;
    --light-200: #FDFDFD;
    --light-300: #FBFCFC;
    --light-400: #FAFBFB;
    --light-500: #F9F9FA;
    --light-600: #F8F8FA;
    --light-700: #F7F7F9;
    --light-800: #F5F6F8;
    --light-900: #F4F5F7;
    --light-950: #D8D9DC;
    --light-hover: #cfd5d9;
    --primary-hover: #2D45C2;
    --secondary-hover: #6d777f;
    --info-hover: #0070E1;
    --warning-hover: #E1AA05;
    --success-hover: #01A057;
    --danger-hover: #C22D3C;
    --indigo-hover: #7000E1;
    --purple-hover: #963DA5;
    --pink-hover: #C72263;
    --orange-hover: #cc7a2c;
    --teal-hover: #006A5D;
    --dark-hover: #06131C;
    --danger-transparent: #ffd9d9;
    --gray-transparent: #E6E8E9;
    --dark-transparent: #ced2d4;
    --indigo-transparent: #f3e9ff;
    --info-transparent: #d9ecff;
    --light-transparent: #e6eaec26;
    --orange-transparent: #fff4ed;
    --pink-transparent: #ffeef1;
    --primary-transparent: #e3e7fa;
    --purple-transparent: #f8effa;
    --secondary-transparent: #e9ebec;
    --success-transparent: #d9f4e8;
    --teal-transparent: #ebf2f1;
    --warning-transparent: #fef4d9;
    --heading-color: #0C1C29;
    --border-color: #ced2d4;
    --body-color: #6D777F;
    --th-bg: #e6eaec;
    --primary-rgb: 53, 80, 220;
    --secondary-rgb: 109, 119, 127;
    --success-rgb: 1, 182, 100;
    --info-rgb: 0, 128, 255;
    --warning-rgb: 249, 184, 1;
    --danger-rgb: 220, 53, 69;
    --dark-rgb: 12, 28, 41;
    --light-rgb: 245, 246, 250;
    --orange-rgb: 254, 151, 56;
    --purple-rgb: 171, 71, 188;
    --pink-rgb: 243, 1, 202;
    --indigo-rgb: 128, 0, 255;
    --body-color-rgb: 109, 119, 127;
    --white-rgb: 255, 255, 255;
    --box-shadow: 0px 0px 35px 0px rgba(104, 134, 177, 0.15);
    --box-shadow-sm: 0 .125rem .25rem rgba(09, 119, 127, .15);
    --box-shadow-lg: 0 0 45px 0 rgba(09, 119, 127, .2);
    --box-shadow-md: 0 .125rem .25rem rgb(0 0 0 / 24%);
    --bg-cover-gradient: linear-gradient(180deg, #3550DC 0%, #101F6A 100%);
}
:root[data-bs-theme=dark] {
    --menu-bg: #030318;
    --menu-item-color: #97aac1;
    --menu-item-hover-color: #e2eeff;
    --menu-item-hover-bg: #2a2c33;
    --menu-item-active-color: var(--primary);
    --menu-item-active-bg: #2a2c33;
    --menu-active-bg: rgba(var(--primary-rgb), 0.1);
    --menu-active-color: var(--dark);
    --submenu-active-color: var(--primary);
    --topbar-bg: #030318;
    --topbar-item-color: #dbe0e6;
    --topbar-item-hover-color: #bccee4;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.1);
    --box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, 0.75);
    --box-shadow: 0px 0px 35px 0px rgba(26, 27, 34, 0.5);
    --box-shadow-lg: 0px 4.4px 12px -1px rgba(0, 0, 0, 0.75);
    --light: #0C0C20;
    --dark: #F0F0F3;
    --white: #030318;
    --black: #fff;
    --gray-100: #1D2225;
    --gray-200: #262D30;
    --gray-300: #2F3539;
    --gray-400: #3B3F42;
    --gray-500: #4F5558;
    --gray-600: #656B6F;
    --gray-700: #80888E;
    --gray-800: #A5ADB3;
    --gray-900: #D3D8DB;
    --gray-950: #E0E6EA;
    --gray-hover: #DADFE2;
    --light-100: #171D22;
    --light-200: #172024;
    --light-300: #172128;
    --light-400: #182129;
    --light-500: #1B222A;
    --light-600: #1B242D;
    --light-700: #1C262E;
    --light-800: #1E2930;
    --light-900: #1F2932;
    --light-950: #050511;
    --light-hover: #3C4249;
    --cyan-transparent: #0B2E2E;
    --danger-transparent: #2c0b0e;
    --gray-transparent: #212123;
    --dark-transparent: #1a1d20;
    --indigo-transparent: #20073E;
    --info-transparent: #032830;
    --light-transparent: #343a40;
    --orange-transparent: #3B1B07;
    --pink-transparent: #3A0610;
    --primary-transparent: #091539;
    --purple-transparent: #2B1430;
    --secondary-transparent: #161719;
    --success-transparent: #051b11;
    --teal-transparent: #202D2B;
    --warning-transparent: #332701;
    --dark-hover: #DADFE2;
    --border-color: #11112f;
    --body-color: #80888E;
    --heading-color: #D3D8DB;
    --body-color-rgb: 128, 136, 142;
    --light-rgb: 12, 12, 32;
}
:root[data-sidebar="sidebar2"] {
    --menu-bg:#e6eaec;
    --menu-item-color: #40484f;
    --menu-item-hover-color:  var(--primary);
    --menu-item-hover-bg: rgba(var(--primary-rgb), 0.1);
    --menu-item-active-color: var(--secondary);
    --menu-item-active-bg: rgba(var(--primary-rgb), 0.1);
    --menu-active-color:  #fff;
    --submenu-active-color: var(--primary);
    --menu-active-bg: var(--primary);
    --menu-border: #ced2d4;
}
:root[data-sidebar="sidebar3"] {
    --menu-bg: #0C1C29;
    --menu-item-color: #97aac1;
    --menu-item-title: #fff;
    --menu-item-hover-color: #e2eeff;
    --menu-item-hover-bg: #2a2c33;
    --menu-item-active-color: #e2eeff;
    --menu-item-active-bg: #2a2c33;
    --menu-active-color: #fff;
    --menu-item-title: #fff;
    --submenu-active-color: #fff;
    --menu-active-bg: rgba(var(--primary-rgb), 0.1);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-icon-color: #97aac1;
}
:root[data-sidebar="sidebar4"] {
    --menu-bg: var(--primary);
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color:   #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="sidebar5"] {
    --menu-bg: var(--orange);
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary) !important;
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="sidebar6"] {
    --menu-bg: var(--info);
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="sidebar7"] {
    --menu-bg: var(--purple);
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--purple);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="gradientsidebar1"] {
    --menu-bg: #{linear-gradient(180deg, #18ACCF 0%, #0F59AD 100%)};
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff !important;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="gradientsidebar2"] {
    --menu-bg: #{linear-gradient(180deg, #8E4BEB 0%, #472282 100%)};
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="gradientsidebar3"] {
    --menu-bg: #{linear-gradient(175.15deg, #DB1F80 3.91%, #52002B 96.09%)};
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="gradientsidebar4"] {
    --menu-bg: #{linear-gradient(176.09deg, #AE7BD4 3.2%, #4471CC 96.55%)};
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="gradientsidebar5"] {
    --menu-bg: #{linear-gradient(174.21deg, #0D55A7 4.61%, #091D37 95.75%)};
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="gradientsidebar6"] {
    --menu-bg: #{linear-gradient(175.15deg, #F25965 3.91%, #940C33 96.09%)};
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="gradientsidebar7"] {
    --menu-bg: #{linear-gradient(175.15deg, #3F484F 3.91%, #002D43 96.09%)};
    --menu-item-color: #e6eaec;
    --menu-icon-color: #e6eaec;
    --menu-item-hover-color: #fff;
    --menu-item-hover-bg: rgba(255, 255, 255, 0.1);
    --menu-item-active-color: #fff;
    --menu-item-active-bg: rgba(230, 234, 236, 0.1);
    --menu-active-color: var(--primary);
    --submenu-active-color: #fff;
    --menu-active-bg: rgb(224.7, 228.75, 249.75);
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-item-title: #fff;
}
:root[data-sidebar="sidebar3"][data-bs-theme="dark"],
:root[data-bs-theme="dark"][data-sidebar="light"] {
    --menu-bg: #030318;
    --menu-item-color: #97aac1;
    --menu-icon-color: #97aac1;
    --menu-item-hover-color: var(--primary);
    --menu-item-hover-bg: #2a2c33;
    --menu-item-active-color: #e2eeff;
    --submenu-active-color: var(--primary);
    --menu-item-active-bg: #2a2c33;
    --menu-active-color: var(--dark);
    --menu-active-bg: rgb(var(--primary-rgb), 0.1);
}

// Dark Topbar
:root[data-bs-theme="dark"][data-topbar="topbar2"],
:root[data-bs-theme="dark"][data-topbar="white"] {
    --topbar-bg: #030318;
    --topbar-item-color: #dbe0e6;
    --topbar-item-hover-color: #bccee4;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.1);
}

// Light Topbar
:root[data-topbar="white"] {
    --topbar-bg: #fff;
    --topbar-item-color: var(--gray-800);
    --topbar-item-hover-color: var(--primary);
    --topbar-item-hover-bg: var(--gray-100);
}
:root[data-topbar="topbar1"] {
    --topbar-bg:#e6eaec;
    --topbar-item-color: #1A1A1A;
    --topbar-item-hover-color: var(--primary);
    --topbar-item-hover-bg: #F5F6FA;
}
:root[data-topbar="topbar2"] {
    --topbar-bg: #0C1C29;
    --topbar-item-color: #fff;
    --topbar-item-hover-color:#e6eaec;
    --topbar-item-hover-bg: rgba(12, 28, 41,0.1);
}
:root[data-topbar="topbar3"] {
    --topbar-bg: var(--primary) ;
    --topbar-item-color: #fff;
    --topbar-item-hover-color:#e6eaec;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="topbar4"] {
    --topbar-bg: var(--orange);
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="topbar5"] {
    --topbar-bg: var(--info);
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="topbar6"] {
    --topbar-bg: var(--purple);
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="gradienttopbar1"] {
    --topbar-bg: #{linear-gradient(180deg, #18ACCF 0%, #0F59AD 100%)};
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="gradienttopbar2"] {
    --topbar-bg: #{linear-gradient(180deg, #8E4BEB 0%, #472282 100%)};
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="gradienttopbar3"] {
    --topbar-bg: #{linear-gradient(175.15deg, #DB1F80 3.91%, #52002B 96.09%)};
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="gradienttopbar4"] {
    --topbar-bg: #{linear-gradient(176.09deg, #AE7BD4 3.2%, #4471CC 96.55%)};
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="gradienttopbar5"] {
    --topbar-bg: #{linear-gradient(174.21deg, #0D55A7 4.61%, #091D37 95.75%)};
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="gradienttopbar6"] {
    --topbar-bg: #{linear-gradient(175.15deg, #F25965 3.91%, #940C33 96.09%)};
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}
:root[data-topbar="gradienttopbar7"] {
    --topbar-bg: #{linear-gradient(175.15deg, #3F484F 3.91%, #002D43 96.09%)};
    --topbar-item-color: #fff;
    --topbar-item-hover-color: var(--gray-900);
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.141);
}

// Sidebar Variables
$sidenav-width: var(--sidenav-width);
$sidenav-width-sm: var(--sidenav-width-sm);
$topbar-height: var(--topbar-height);
$menu-bg: var(--menu-bg);
$menu-item-color: var(--menu-item-color);
$menu-item-title: var(--menu-item-title);
$menu-item-hover-color: var(--menu-item-hover-color);
$menu-item-hover-bg: var(--menu-item-hover-bg);
$menu-item-active-color: var(--menu-item-active-color);
$menu-item-active-bg: var(--menu-item-active-bg);
$menu-active-color: var(--menu-active-color);
$submenu-active-color: var(--submenu-active-color);
$menu-active-bg: var(--menu-active-bg);
$menu-border: var(--menu-border);
$menu-icon-color: var(--menu-icon-color);

// Topbar Variables
$topbar-bg: var(--topbar-bg);
$topbar-item-color: var(--topbar-item-color);
$topbar-item-hover-color: var(--topbar-item-hover-color);
$topbar-item-hover-bg: var(--topbar-item-hover-bg);

$topbar-icon-bg: var(--topbar-icon-bg);
$topbar-item-border: var(--topbar-item-border);
$topbar-icon-color: var(--topbar-icon-color);
$topbar-icon-bg: var(--topbar-icon-bg);
$topbar-menu-btn: var(--topbar-menu-btn);
$topbar-menu-btn-hover: var(--topbar-menu-btn-hover);

// Color Variables
$primary: var(--primary);
$secondary: var(--secondary);
$light: var(--light);
$dark: var(--dark);
$white: var(--white);
$success: var(--success);
$info: var(--info);
$danger: var(--danger);
$indigo: var(--indigo);
$cyan: var(--cyan);
$orange: var(--orange);
$pink: var(--pink);
$purple: var(--purple);
$teal: var(--teal);
$warning: var(--warning);
$black: var(--black);
$gray-100: var(--gray-100);
$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
$gray-500: var(--gray-500);
$gray-600: var(--gray-600);
$gray-700: var(--gray-700);
$gray-800: var(--gray-800);
$gray-900: var(--gray-900);
$gray-hover: var(--gray-hover);
$light-100: var(--light-100);
$light-200: var(--light-200);
$light-300: var(--light-300);
$light-400: var(--light-400);
$light-500: var(--light-500);
$light-600: var(--light-600);
$light-700: var(--light-700);
$light-800: var(--light-800);
$light-900: var(--light-900);
$light-hover: var(--light-hover);
$primary-hover: var(--primary-hover);
$secondary-hover: var(--secondary-hover);
$info-hover: var(--info-hover);
$warning-hover: var(--warning-hover);
$success-hover: var(--success-hover);
$danger-hover: var(--danger-hover);
$indigo-hover: var(--indigo-hover);
$purple-hover: var(--purple-hover);
$pink-hover: var(--pink-hover);
$orange-hover: var(--orange-hover);
$teal-hover: var(--teal-hover);
$cyan-hover: var(--cyan-hover);
$dark-hover: var(--dark-hover);
$cyan-transparent: var(--cyan-transparent);
$danger-transparent: var(--danger-transparent);
$gray-transparent: var(--gray-transparent);
$indigo-transparent: var(--indigo-transparent);
$info-transparent: var(--info-transparent);
$light-transparent: var(--light-transparent);
$orange-transparent: var(--orange-transparent);
$pink-transparent: var(--pink-transparent);
$primary-transparent: var(--primary-transparent);
$purple-transparent: var(--purple-transparent);
$secondary-transparent: var(--secondary-transparent);
$success-transparent: var(--success-transparent);
$teal-transparent: var(--teal-transparent);
$warning-transparent: var(--warning-transparent);
$dark-transparent: var(--dark-transparent);
$login-gradient: var(--login-gradient);
$heading-color: var(--heading-color);
$border-color: var(--border-color);
$body-color: var(--body-color);
$primary-rgb: var(--primary-rgb);
$secondary-rgb: var(--secondary-rgb);
$body-color-rgb: var(--body-color-rgb);
$white-rgb: var(--white-rgb);
$light-rgb: var(--light-rgb);
$warning-rgb: var(--warning-rgb);
$success-rgb: var(--success-rgb);
$danger-rgb: var(--danger-rgb);
$info-rgb: var(--info-rgb);
$dark-rgb: var(--dark-rgb);
$box-shadow: var(--box-shadow);
$box-shadow-sm: var(--box-shadow-sm);
$box-shadow-md: var(--box-shadow-md);
$box-shadow-lg: var(--box-shadow-lg);
$th-bg: var(--th-bg);
$bg-cover-gradient: var(--bg-cover-gradient);
$darkmode-white: #fff;

$theme-colors: (
    "primary": #3550DC,
    "secondary": #6d777f,
    "success": #01b664,
    "info": #0080ff,
    "warning": #f9b801,
    "danger": #ff0000,
    "dark": #0c1c29,
    "light": #e6eaec,
    "orange": #fe9738,
    "purple": #ab47bc,
    "pink": #f301ca,
    "indigo": #8000ff,
    "teal": #24cdba,
);

$font-family-base: "Roboto", sans-serif;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;

$font-size-base: 14px;

$border-radius-pill: 50%;
$border-radius: 5px;
$border-radius-sm: .25rem;
$border-radius-lg: .6rem;

// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
